<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik-local" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core 2026 Q2\dpl" />
  </packageSources>
</configuration>
